nationalValidator/schematrons/FI-Validation-3b-g.sch

<?xml version="1.0" encoding="UTF-8"?>

<!-- Generated by the Hilma Schematron Generator -->

<pattern id="FI-validation-3b-g" xmlns="http://purl.oclc.org/dsdl/schematron">
<rule context="/*/hilma:NationalExtension/hilma:ProcurementProject/hilma:ApplicableLegislation">
<assert id="FI-11-2" role="ERROR" test="normalize-space(.) = ('procurement-legislation', 'defence-legislation')">rule|text|FI-11-2</assert>
</rule>
</pattern>
