nationalValidator/schematrons/FI-Validation-E1.sch

<?xml version="1.0" encoding="UTF-8"?>

<!-- Generated by the Hilma Schematron Generator -->

<pattern id="FI-validation-E1" xmlns="http://purl.oclc.org/dsdl/schematron">
<rule context="/*/cac:ContractingParty[$noticeSubType = 'E1']">
<assert id="FI-E1-BT-11-Procedure-Buyer-1" role="ERROR" test="count(cac:ContractingPartyType/cbc:PartyTypeCode[@listName='buyer-legal-type']) &gt; 0">rule|text|FI-E1-BT-11-Procedure-Buyer-1</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes/efac:Change/efac:ChangedSection[$noticeSubType = 'E1']">
<assert id="FI-E1-BT-13716-notice-1" role="ERROR" test="count(efbc:ChangedSectionIdentifier) &gt; 0 or not(../../efbc:ChangedNoticeIdentifier)">rule|text|FI-E1-BT-13716-notice-1</assert>
<assert id="FI-E1-BT-13716-notice-2" role="ERROR" test="count(efbc:ChangedSectionIdentifier) = 0 or (../../efbc:ChangedNoticeIdentifier)">rule|text|FI-E1-BT-13716-notice-2</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes/efac:Change[$noticeSubType = 'E1']">
<assert id="FI-E1-BT-141_a_-notice-1" role="ERROR" test="count(efbc:ChangeDescription) &gt; 0 or not(efac:ChangedSection/efbc:ChangedSectionIdentifier)">rule|text|FI-E1-BT-141(a)-notice-1</assert>
<assert id="FI-E1-BT-141_a_-notice-2" role="ERROR" test="count(efbc:ChangeDescription) = 0 or (efac:ChangedSection/efbc:ChangedSectionIdentifier)">rule|text|FI-E1-BT-141(a)-notice-2</assert>
</rule>
<rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingProcess[$noticeSubType = 'E1']">
<assert id="FI-E1-BT-17-Lot-1" role="ERROR" test="count(cbc:SubmissionMethodCode[@listName='esubmission']) &gt; 0">rule|text|FI-E1-BT-17-Lot-1</assert>
</rule>
<rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Part']/cac:ProcurementProject[$noticeSubType = 'E1']">
<assert id="FI-E1-BT-23-Part-1" role="ERROR" test="count(cbc:ProcurementTypeCode[@listName='contract-nature']) &gt; 0">rule|text|FI-E1-BT-23-Part-1</assert>
</rule>
<rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Part']/cac:ProcurementProject/cac:MainCommodityClassification[$noticeSubType = 'E1']">
<assert id="FI-E1-BT-262-Part-1" role="ERROR" test="count(cbc:ItemClassificationCode) &gt; 0">rule|text|FI-E1-BT-262-Part-1</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:Company/cac:PartyLegalEntity[$noticeSubType = 'E1']">
<assert id="FI-E1-BT-501-Organization-Company-1" role="ERROR" test="count(cbc:CompanyID) &gt; 0">rule|text|FI-E1-BT-501-Organization-Company-1</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:Company[$noticeSubType = 'E1']">
<assert id="FI-E1-BT-506-Organization-Company-1" role="ERROR" test="count(cac:Contact/cbc:ElectronicMail) &gt; 0 or (cac:PartyIdentification/cbc:ID/normalize-space(text()) = ../../../../../../../cac:ContractingParty/cac:Party/cac:PartyIdentification/cbc:ID/normalize-space(text()))">rule|text|FI-E1-BT-506-Organization-Company-1</assert>
<assert id="FI-E1-BT-507-Organization-Company-1" role="ERROR" test="count(cac:PostalAddress/cbc:CountrySubentityCode) &gt; 0 or not(cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX'))">rule|text|FI-E1-BT-507-Organization-Company-1</assert>
<assert id="FI-E1-BT-507-Organization-Company-2" role="ERROR" test="count(cac:PostalAddress/cbc:CountrySubentityCode) = 0 or (cac:PostalAddress/cac:Country/cbc:IdentificationCode/normalize-space(text()) = ('ALB','AUT','BEL','BGR','CHE','CYP','CZE','DEU','DNK','ESP','EST','FIN','FRA','GRC','HRV','HUN','IRL','ISL','ITA','LIE','LTU','LUX','LVA','MKD','MLT','MNE','NLD','NOR','POL','PRT','ROU','SRB','SVK','SVN','SWE','TUR','XKX'))">rule|text|FI-E1-BT-507-Organization-Company-2</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Organizations/efac:Organization/efac:Company/cac:PostalAddress[$noticeSubType = 'E1']">
<assert id="FI-E1-BT-513-Organization-Company-1" role="ERROR" test="count(cbc:CityName) &gt; 0">rule|text|FI-E1-BT-513-Organization-Company-1</assert>
</rule>
<rule context="/*/cac:ProcurementProjectLot[cbc:ID/@schemeName='Lot']/cac:TenderingProcess/cac:ProcessJustification[$noticeSubType = 'E1']">
<assert id="FI-E1-BT-745-Lot-1" role="ERROR" test="count(cbc:Description) &gt; 0 or ../cbc:SubmissionMethodCode[@listName='esubmission']/normalize-space(text()) = 'not-allowed' or ../cbc:SubmissionMethodCode[@listName='esubmission']/normalize-space(text()) = 'allowed'">rule|text|FI-E1-BT-745-Lot-1</assert>
</rule>
<rule context="/*/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/efext:EformsExtension/efac:Changes[$noticeSubType = 'E1']">
<assert id="FI-E1-BT-758-notice-1" role="ERROR" test="count(efbc:ChangedNoticeIdentifier) &gt; 0">rule|text|FI-E1-BT-758-notice-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:ProcurementProject[$noticeSubType = 'E1']">
<assert id="FI-E1-FI-11-1" role="ERROR" test="count(hilma:ApplicableLegislation) = 0">rule|text|FI-E1-FI-11-1</assert>
<assert id="FI-E1-FI-30-1" role="ERROR" test="count(hilma:PredictedValueConstraintIndicator) = 0">rule|text|FI-E1-FI-30-1</assert>
<assert id="FI-E1-FI-20-1" role="ERROR" test="count(hilma:IsEUApplicableConstraintIndicator) &gt; 0">rule|text|FI-E1-FI-20-1</assert>
</rule>
</pattern>
