nationalValidator/schematrons/FI-Validation-2b-g.sch

<?xml version="1.0" encoding="UTF-8"?>

<!-- Generated by the Hilma Schematron Generator -->

<pattern id="FI-validation-2b-g" xmlns="http://purl.oclc.org/dsdl/schematron">
<rule context="/*/hilma:NationalExtension/hilma:ProcurementProject/hilma:ApplicableLegislation">
<assert id="FI-11-1" role="ERROR" test="count(hilma:ApplicableLegislation) &lt; 2">rule|text|FI-11-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:ProcurementProject/hilma:PredictedValueConstraintIndicator">
<assert id="FI-30-1" role="ERROR" test="count(hilma:PredictedValueConstraintIndicator) &lt; 2">rule|text|FI-30-1</assert>
</rule>
<rule context="/*/hilma:NationalExtension/hilma:ProcurementProject/hilma:IsEUApplicableConstraintIndicator">
<assert id="FI-20-1" role="ERROR" test="count(hilma:IsEUApplicableConstraintIndicator) &lt; 2">rule|text|FI-20-1</assert>
</rule>
</pattern>
